<app-header
  [title]="type == 'posted' ? 'Posted Jobs' : 'Available Jobs'"
  [back]="true"
  [backLink]="'/tabs/small-business'"
  [search]="true"
  (searchKeyUp)="search($event)"
></app-header>

<ion-item class="button-container">
  <ion-button
    fill="solid"
    *ngIf="type == 'posted'"
    class="job-toggle-btn"
    routerLink="/tabs/small-business/jobs/list/available"
  >
    View Available Jobs
  </ion-button>
  <ion-button
    fill="solid"
    *ngIf="type == 'available'"
    class="job-toggle-btn"
    routerLink="/tabs/small-business/jobs/list/posted"
  >
    View Posted Jobs
  </ion-button>
</ion-item>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="getJobs($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-loader *ngIf="pageLoading"></app-loader>

  <div class="empty-state" *ngIf="jobs && !jobs.length && !pageLoading">
    <div class="empty-image-container">
      <img src="./../../../../assets/images/svgs/job.svg" alt="No jobs available" class="empty-image">
    </div>
    <div class="empty-text">
      <span *ngIf="type == 'posted'">You haven't posted any jobs yet.<br>
        <small>Click on <i class="fas fa-plus"></i> to create your first job post.</small>
      </span>
      <span *ngIf="type == 'available'">No jobs available now. Check back later!</span>
    </div>
  </div>

  <ion-row *ngIf="jobs" class="job-list">
    <ion-col size="6" size-md="4" *ngFor="let job of jobs" [routerLink]="['/tabs/small-business/jobs/job/' + job.id]">
      <div class="job-card">
        <div class="image-container">
          <img [src]="job.photo" alt="Job image">
        </div>
        <div class="job-details">
          <span class="title">{{ job.title | resumeText: 12 }}</span>
          <span class="company">{{ job.company }}</span>
        </div>
        <small class="time">{{ job.createdAt | extractDiffTime }} ago</small>

      </div>
    </ion-col>
  </ion-row>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="type == 'posted'">
    <ion-fab-button (click)="showJobForm()">
      <i class="fas fa-plus"></i>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getJobs($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
