<app-header title="Login" backLink="/auth/home" [back]="true"></app-header>
<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
    <form [formGroup]="form">
      <ion-list class="mx-3">
        <ion-item class="my-3">
          <ion-input formControlName="email" placeholder="E-mail"></ion-input>
        </ion-item>
        <div class="w-100 text-danger mt-1" *ngIf="validationErrors['email']">
          <span *ngFor="let error of validationErrors['email']">{{ error }}</span>
        </div>
        <ion-item class="my-3">
          <ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
        </ion-item>
        <div class="w-100 text-danger mt-1" *ngIf="validationErrors['password']">
          <span *ngFor="let error of validationErrors['password']">{{ error }}</span>
        </div>
        <ion-button
          expand="block"
          color="primary"
          class="w-100"
          (click)="submit()"
        >
          Login
        </ion-button>
        <ion-button
          expand="block"
          color="secondary"
          class="w-100"
          (click)="googleSignin()"
        >
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Login with Google
        </ion-button>
      </ion-list>
    </form>
    <div class="px-4 mt-5 pt-5">
      <img src="./../../../../assets/images/svgs/login.svg" alt="Login Image" class="login-image">
    </div>
</ion-content>

<ion-footer class="px-3">
  <ion-button
    expand="block"
    color="primary"
    fill="outline"
    size="small"
    class="mt-4"
    routerLink="/auth/signup"
  >
    Register
  </ion-button>
  <ion-button
    expand="block"
    fill="clear"
    color="primary"
    class="w-100"
    routerLink="/auth"
  >
    <ion-icon name="chevron-back-outline" class="mr-3"></ion-icon>
    Back
  </ion-button>
</ion-footer>

<!-- Styles -->
<style>
  ion-button {
    --border-radius: 8px;
    --padding-start: 16px;
    --padding-end: 16px;
  }

  .login-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  ion-icon[name="logo-google"] {
    font-size: 24px;
    color: white; /* Ensure the icon stands out against the button color */
  }

  .text-danger {
    color: #dc3545; /* Bootstrap red */
  }

  ion-footer ion-button {
    --padding-start: 16px;
    --padding-end: 16px;
  }
</style>
