<app-header [back]="true" title="Edit Profile">
  <div id="end-buttons">
    <ion-button fill="clear" shape="round" (click)="submit()">
      <i class="fas fa-save mr-2"></i> Save
    </ion-button>
  </div>
</app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <form class="p-2 ml-2" *ngIf="form" [formGroup]="form">
    <ion-text class="font-weight-bold" color="primary">
      <i class="fas fa-info-circle mr-2"></i> Basic Information
    </ion-text>

    <ion-list class="styled-list mx-3">
      <ion-item class="styled-item">
        <ion-label position="floating">
          <i class="far fa-user mr-2"></i>First Name
        </ion-label>
        <ion-input placeholder="Enter your first name" type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <div class="mt-1" *ngIf="firstName.dirty && !firstName.valid">
        <span class="text-danger pl-1">
          <span *ngIf="firstName.hasError('required')">First name is required</span>
        </span>
      </div>

      <ion-item class="styled-item mt-2">
        <ion-label position="floating">
          <i class="far fa-user mr-2"></i>Last Name
        </ion-label>
        <ion-input placeholder="Enter your last name" type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <div class="mt-1" *ngIf="(lastName.dirty && !lastName.valid) || validationErrors['lastName']">
        <span *ngIf="!lastName.valid && validationErrors['lastName']" class="text-danger pl-1">
          <span *ngIf="lastName.hasError('required')">Last name is required</span>
          <span *ngIf="validationErrors['lastName']">{{ validationErrors['lastName'][0] }}</span>
        </span>
      </div>

      <ion-item class="styled-item mt-2">
        <ion-label position="floating">
          <i class="fas fa-birthday-cake mr-2"></i>Birth Date
        </ion-label>
        <ion-datetime 
        displayFormat="MM/DD/YYYY" 
        formControlName="birthDate"
        [max]="getMaxBirthDate()">
      </ion-datetime>
         </ion-item>
      <div class="mt-1" *ngIf="!birthDate.valid && validationErrors['birthDate']">
        <span class="text-danger pl-1">
          <span *ngIf="birthDate.hasError('required')">Birth date is required</span>
          <span *ngIf="validationErrors['birthDate']">{{ validationErrors['birthDate'] }}</span>
        </span>
      </div>
      

      <ion-item class="styled-item mt-3">
        <ion-label position="floating">
          <i class="fas fa-info-circle mr-2"></i>About Me
        </ion-label>
        <ion-input placeholder="Enter something about yourself" type="text" formControlName="aboutMe"></ion-input>
      </ion-item>
      <div class="mt-1" *ngIf="aboutMe.dirty && !aboutMe.valid">
        <span class="text-danger pl-1">
          <span *ngIf="aboutMe.hasError('required')">About me is required</span>
        </span>
      </div>

      <ion-item class="styled-item mt-3">
        <ion-label position="floating">
          <i class="fas fa-venus-mars mr-1"></i>Gender
        </ion-label>
        <ion-select placeholder="Select your gender" formControlName="gender" class="w-100 ion-no-padding pl-2">
          <ion-select-option value="female">Female</ion-select-option>
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="other">Other</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="mt-1" *ngIf="!gender.valid && validationErrors['gender']">
        <span class="text-danger pl-1">
          <span *ngIf="gender.hasError('required')">Gender is required</span>
          <span *ngIf="validationErrors['gender']">{{ validationErrors['gender'] }}</span>
        </span>
      </div>

      <ion-item class="styled-item mt-3" (click)="presentCountriesModal()">
        <ion-label position="floating">
          <i class="fas fa-globe mr-2"></i>Country
        </ion-label>
        <ion-input placeholder="Select your country" type="text" formControlName="country" [value]="selectedCountry" readonly></ion-input>
      </ion-item>

      <ion-item class="styled-item mt-3" (click)="presentCitiesModal()">
        <ion-label position="floating">
          <i class="fas fa-city mr-2"></i>City
        </ion-label>
        <ion-input placeholder="Select your city" type="text" formControlName="city" [value]="selectedCity" readonly></ion-input>
      </ion-item>

      <ion-item class="styled-item mt-3" (click)="presentProfessionsModal()">
        <ion-label position="floating">
          <i class="fas fa-briefcase mr-2"></i>Profession
        </ion-label>
        <ion-input placeholder="Select your profession" type="text" formControlName="profession" [value]="selectedProfession" readonly></ion-input>
      </ion-item>

      <ion-item class="styled-item mt-3" (click)="presentSchoolsModal()">
        <ion-label position="floating">
          <i class="fas fa-school mr-2"></i>School
        </ion-label>
        <ion-input placeholder="Select your school" type="text" formControlName="school" [value]="selectedSchool" readonly></ion-input>
      </ion-item>
      <div class="mt-1" *ngIf="!school.valid && school.touched && validationErrors['school']">
        <span class="text-danger pl-1">
          <span *ngIf="school.hasError('maxlength')">The school field must not contain more than 50 characters</span>
          <span *ngIf="validationErrors['school']">{{ validationErrors['school'] }}</span>
        </span>
      </div>

      <ion-item class="styled-item mt-3">
        <ion-label position="floating">
          <i class="fas fa-graduation-cap mr-2"></i>Education
        </ion-label>
        <ion-select placeholder="Select your education degree" class="w-100 pl-1" formControlName="education">
          <ion-select-option [value]="degree" *ngFor="let degree of educations">{{ degree }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="mt-1" *ngIf="!education.valid && validationErrors['education']">
        <span class="text-danger pl-1">
          <span *ngIf="education.hasError('max')">The education field must not contain more than 50 characters</span>
          <span *ngIf="validationErrors['education']">{{ validationErrors['education'] }}</span>
        </span>
      </div>

      <ion-item class="styled-item mt-3" (click)="presentInterestsModal()">
        <ion-label position="floating">
          <i class="fas fa-heart mr-2"></i>Interests
        </ion-label>
        <ion-input placeholder="Select your interests" type="text" [value]="selectedInterests.join(', ')" readonly></ion-input>
      </ion-item>
      <ion-row *ngIf="selectedInterests.length" class="interest-list">
        <ion-col class="text-center ion-no-padding p-0" size="auto" *ngFor="let interest of selectedInterests; let ind = index">
          <ion-card class="text-center p-2 interest-card">
            <span>{{ interest }}</span>
            <span (click)="removeInterest(ind)" class="ml-2"><i class="fas fa-times"></i></span>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-button expand="full" (click)="submit()" class="submit-button">Save</ion-button>
  </form>
</ion-content>
