<app-header
  [title]="job ? job.title : ''"
  [back]="true"
>
  <div id="end-buttons">
    <ion-button
      shape="round"
      *ngIf="job && user && job.user.id != user.id"
      (click)="presentPopover($event)"
    >
      <i class="fas fa-ellipsis-v"></i>
    </ion-button>
  </div>
</app-header>

<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>
  <div *ngIf="job">
    <div class="position-relative">
      <div class="w-100 image-container">
        <img [src]="job.photo" class="w-100 job-image" alt="Job Image" loading="lazy">
      </div>
      <ion-fab horizontal="end" vertical="bottom" class="mt-5" *ngIf="job.user.id == user.id">
        <ion-fab-button (click)="removeConfirmation()" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <!-- Job Title and Company -->
    <ion-item>
      <ion-label class="ml-2">
        <span class="job-title font-weight-bold d-block">{{ job.title }} </span>
        <span class="">{{ job.company }}</span>
      </ion-label>
    </ion-item>


    <!-- Email -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">E-mail</span>
        <span>{{ job.email }}</span>
      </ion-label>
    </ion-item>

    <!-- Location -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Location</span>
        <span>{{ job.country + ', ' + job.city }}</span>
      </ion-label>
    </ion-item>

            <!-- Service Address -->
            <ion-item>
              <ion-label class="ml-2" text-wrap>
                <span class="job-title font-weight-bold d-block">Job Address</span>
                <span>{{ job.address }}</span>
              </ion-label>
            </ion-item>
        
            
    <!-- Job Type -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Job Type</span>
        <span>{{ job.jobType }}</span>
      </ion-label>
    </ion-item>

    <!-- Salary Range -->
    <ion-item *ngIf="job.minSalary && job.maxSalary">
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">
          Salary Range <span style="font-size: 0.8em; color: #6c757d;">(Local currency)</span>
      </span>
      <span>{{ job.minSalary }} - {{ job.maxSalary }}</span>
      </ion-label>
    </ion-item>
    

    <!-- Experience Level -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Experience Level</span>
        <span>{{ job.experienceLevel }}</span>
      </ion-label>
    </ion-item>

    <!-- Remote Option -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Remote Option</span>
        <span>{{ job.remoteOption }}</span>
      </ion-label>
    </ion-item>

    <!-- Application Deadline -->
    <ion-item *ngIf="job.applicationDeadline">
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Application Deadline</span>
        <span>{{ job.applicationDeadline | date:'MM/dd/yyyy' }}</span>
      </ion-label>
    </ion-item>

    <!-- Job Requirements -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Job Requirements</span>
        <span>{{ job.jobRequirements }}</span>
      </ion-label>
    </ion-item>

    <!-- Job Benefits -->
    <ion-item *ngIf="job.jobBenefits">
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Job Benefits</span>
        <span>{{ job.jobBenefits }}</span>
      </ion-label>
    </ion-item>

    <!-- Education Level -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Education Level</span>
        <span>{{ job.educationLevel }}</span>
      </ion-label>
    </ion-item>

    <!-- Industry -->
    <ion-item *ngIf="job.industry">
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Industry</span>
        <span>{{ job.industry }}</span>
      </ion-label>
    </ion-item>

    <!-- Website -->
    <ion-item *ngIf="job.website">
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Website</span>
        <span>{{ job.website }}</span>
      </ion-label>
    </ion-item>

    <!-- Job Location Type -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Job Location Type</span>
        <span>{{ job.jobLocationType }}</span>
      </ion-label>
    </ion-item>



    <!-- Description -->
    <ion-item>
      <ion-label class="ml-2" text-wrap>
        <span class="job-title font-weight-bold d-block">Description</span>
        <span>{{ job.description }}</span>
      </ion-label>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="px-3">
 <!-- <ion-button
    size="default"
    color="primary"
    expand="block"
    (click)="openMail()"
    *ngIf="job && user && job.user.id != user.id"
  >
    Contact Us
  </ion-button>-->
  <ion-button
    size="default"
    color="secondary"
    expand="block"
    (click)="sendEmail()"
    *ngIf="job && user && job.user.id != user.id"
  >
    Send Email
  </ion-button>
</ion-footer>
