.profile-avatar {
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 16px;
  }
  
  ion-card-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 8px;
  }
  
  ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
  }
  
  ion-text {
    font-weight: bold;
  }
  