ion-content {
    --background: #ffffff;
  }
  
  ion-header {
    --background: var(--ion-color-primary);
    color: #ffffff;
  }
  
  ion-title {
    font-weight: bold;
    font-size: 24px; /* Increased font size */
  }
  
  ion-button {
    --background: var(--ion-color-primary);
    color: #ffffff;
  }
  
  .terms-content {
    padding: 60px;
    font-size: 16px; /* Increased font size */
    line-height: 1.8;
  }
  
  ion-content.terms-content {
    --padding-start: 20px;
    --padding-end: 20px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-size: 16px; /* Increased font size */
    line-height: 1.8;
    padding-bottom: 70px; /* Ensure there's space for the footer */
  }
  
  h1 {
    font-size: 22px; /* Increased font size */
    margin-top: 30px;
    margin-bottom: 10px;
    color: var(--ion-color-primary);
    border-bottom: 2px solid var(--ion-color-primary);
    padding-bottom: 5px;
  }
  
  h2 {
    font-size: 18px;
    margin-top: 20px;
    color: var(--ion-color-primary);
  }
  
  ion-footer {
    ion-toolbar {
      position: fixed;
      bottom: 0;
      width: 100%;
      z-index: 10;
      --background: var(--ion-color-light);
      --ion-color-base: var(--ion-color-primary);
    }
  }
  