<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Update the ionInput event to properly access the input value -->
  <ion-searchbar (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let item of paginatedData" (click)="selectData(item)">
      {{ item.name ? item.name : item }}
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
