<app-header
  [back]="true"
  [title]="type ? (type == 'buy' ? 'Available Products' : 'Posted Products') : ''"
  [backLink]="'/tabs/buy-and-sell'"
  [search]="true"
  (searchKeyUp)="search($event)" 
></app-header>

<!-- Show the loader while fetching products -->
<app-loader *ngIf="pageLoading"></app-loader>

<ion-content>

  <!-- Always show the category filter for buyers when no search query -->
  <div *ngIf="type === 'buy' && !searchQuery" class="category-container-grid">
    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let category of categories">
          <ion-card (click)="selectCategory(category)" 
                    [color]="selectedCategory === category.name ? 'primary' : 'light'" 
                    class="category-card">
            <ion-card-content>
              <ion-icon [name]="category.icon" class="category-icon"></ion-icon>
              <ion-label>{{ category.name }}</ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Show 'No products found' if there are no products and no search query -->
  <div *ngIf="!pageLoading && products.length === 0 && !searchQuery" class="text-center py-5">
    <p>No products found for the selected category.</p>
  </div>

  <!-- Show products if available and no search query is active -->
  <ion-row *ngIf="products && products.length > 0 && !searchQuery" class="product-grid">
    <ion-col size="6" size-sm="4" size-md="3" *ngFor="let product of products">
      <ion-item button="true" [routerLink]="['/tabs/buy-and-sell/product', product.id]" class="product-item">
        <div class="w-100">
          <div class="square-container overflow-hidden">
            <img class="w-100" [src]="getProductImage(product)" alt="Product Image" loading="lazy">
          </div>
          <div class="product-info">
            <div class="d-flex justify-content-between align-items-center">
              <span class="product-label">{{ product.label | resumeText: 6 }}</span>
              <small class="time">{{ product.createdAt | extractDiffTime }}</small>
            </div>
            <small class="product-price">{{ product.price + ' ' + product.currency }}</small>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <!-- Show filtered products for search query -->
  <ion-row *ngIf="filteredProducts && filteredProducts.length > 0" class="product-grid">
    <ion-col size="6" size-sm="4" size-md="3" *ngFor="let product of filteredProducts">
      <ion-item button="true" [routerLink]="['/tabs/buy-and-sell/product', product.id]" class="product-item">
        <div class="w-100">
          <div class="square-container overflow-hidden">
            <img class="w-100" [src]="getProductImage(product)" alt="Product Image" loading="lazy">
          </div>
          <div class="product-info">
            <div class="d-flex justify-content-between align-items-center">
              <span class="product-label">{{ product.label | resumeText: 6 }}</span>
              <small class="time">{{ product.createdAt | extractDiffTime }}</small>
            </div>
            <small class="product-price">{{ product.price + ' ' + product.currency }}</small>
          </div>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>

<!-- Show 'No products found' message when no filtered products are available -->
<div *ngIf="filteredProducts.length === 0 && searchQuery" class="no-products-found-container">
  <img src="assets/images/svgs/Notfound.svg" alt="No products found" class="no-products-svg">
  <p>We couldn’t find any matches for "{{ searchQuery }}". Try adjusting your search or explore our other categories!</p>
</div>


  <!-- Infinite scroll for loading more products -->
  <ion-infinite-scroll #infinitScroll threshold="100px" (ionInfinite)="getProducts($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!-- Show floating button for selling products -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="type == 'sell'">
    <ion-fab-button color="primary" (click)="showProductForm()" class="mr-2">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
