<ion-content class="background">
  <ion-row class="h-100">
    <ion-col size="12" class="d-flex flex-column align-items-center justify-content-center">
      <img class="logo-img" src="../../../../assets/images/logo.webp" alt="">
      <div class="text-center">
        <span class="logo-text">Loopa</span>
        <span class="desc">
          <span style="color: white;">L</span><span style="color: #165886;">inkage</span>, 
          <span style="color: white;">O</span><span style="color: #165886;">pen</span>
          <span style="color: white;"> O</span><span style="color: #165886;">ptions</span>, 
          <span style="color: white;">P</span><span style="color: #165886;">lay</span>
          <span style="color: white;"> A</span><span style="color: #165886;">dventure!</span>
        </span>
              </div>
    </ion-col>
    <ion-col class="text-white footer mt-auto p-3" size="12">
      <!-- Footer content (optional) -->
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer class="px-3">
  <h4 class="mb-0">Welcome to Loopa!</h4>
  <span>Discover a world of connections with version 1.0.0 🚀</span>
  <ion-button
      routerLink="/auth/signup"
      expand="block"
      color="primary"
      class="my-3"
  >
    Join the Community
  </ion-button>
  <ion-button
      routerLink="/auth/signin"
      expand="block"
      color="light"
      class="my-3"
  >
    Sign In
  </ion-button>
</ion-footer>
