<app-header
  [title]="type == 'posted' ? 'Posted Service' : 'Available Service'"
  [back]="true"
  [backLink]="'/tabs/small-business'"
  [search]="true"
  (searchKeyUp)="search($event)"
></app-header>

<ion-item class="button-container">
  <ion-button
    fill="solid"
    *ngIf="type == 'posted'"
    class="service-toggle-btn"
    routerLink="/tabs/small-business/services/list/available"
  >
    View Available Services
  </ion-button>
  <ion-button
    fill="solid"
    *ngIf="type == 'available'"
    class="service-toggle-btn"
    routerLink="/tabs/small-business/services/list/posted"
  >
    View Posted Services
  </ion-button>
</ion-item>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="getServices($event, true)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-loader *ngIf="pageLoading"></app-loader>

  <div class="empty-state" *ngIf="services && !services.length && !pageLoading">
    <div class="empty-image-container">
      <img src="./../../../../assets/images/svgs/services.svg" alt="No services available" class="empty-image">
    </div>
    <div class="empty-text">
      <span *ngIf="type == 'posted'">You haven't posted any services yet.<br>
        <small>Click on <i class="fas fa-plus"></i> to create your first service post.</small>
      </span>
      <span *ngIf="type == 'available'">No services available now. Check back later!</span>
    </div>
  </div>

  <ion-row *ngIf="services" class="service-list">
    <ion-col size="6" size-md="4" *ngFor="let service of services" [routerLink]="['/tabs/small-business/services/service/' + service.id]">
      <div class="service-card">
        <div class="image-container">
          <img [src]="service.photo" alt="Service image">
        </div>
        <div class="service-details">
          <span class="title">{{ service.title | resumeText: 12 }}</span>
          <span class="company">{{ service.company }}</span>
        </div>
        <small class="time">{{ service.createdAt | extractDiffTime }} ago</small>
      </div>
    </ion-col>
  </ion-row>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="getServices($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="type == 'posted'">
    <ion-fab-button (click)="showServiceForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
